*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:#FAFAFA;
}

div.insta{
    margin-top: 5rem;
    max-width: 100%;
    max-height: 50%;
    font-family: Arial, Helvetica, sans-serif;
}
div.celular{
    position: relative;
   margin-left: 140px;
}
.entrar{
    position: relative;
    max-width: 340px;
    height: 400px;
    margin-top:-520px ;
    background-color: #FFFFFF;
    margin-left: 600px;
}
.entrar img{
    align-items: center;
    margin-left: 20%;
    padding: 2px;
    margin-top: 20px ;
    margin-bottom: 20px;
}
form{
    width: 100%;
    height: 80%;
    margin-left: 10px;
}
.entrar #usuario,#sen {
    padding: 5px;
    display: block;
    height: 25px;
    background-color: #FAFAFA;
    border: 1px solid #f1f1f1;
    margin:5% 5%; 
    margin-top: 2px;
    width: 80%;
    border-radius: 3px;
}
#ent{
    height: 30px;
    background-color: #B2DFFC;
    width: 82%;
    margin: 2% 5%;
    border-radius: 3px;
    padding: 5px;
    border:2px solid  #B2DFFC;
    text-align: center;
    color: white;
}
.face,a,#senha{
    display: block;
    padding: 3px;
    margin-top: 2px;
    margin-left: 20%;
    text-decoration: none;
    color: rgb(104, 77, 179);
}
#senha{
    color: black;
    font-family: none;
    margin-left: 26%;
    margin-bottom: 10px;
}
.li1{
    border-top: solid 1px rgb(235, 233, 235);
    width: 20%;
    margin-left: 10%;text-align: center;
    position: absolute;
    padding: 4px;
    margin-top: 12px

}
#usua{
    margin-top: 60px;
    color: gray;
}
#ou{
    position: absolute;
    margin-top: -10px;
    margin-left: 140%;
}
.li2{
    border-top: solid 1px rgb(235, 235, 235);
    width: 20%;
    margin-left: 60%;
    position: absolute;
    padding: 4px;
    margin-top: 12px;
}

.conta{
    background-color: #FFFFFF;
    width: 340px;
    height: 60px;
    margin-left: 600px;
    margin-top: 26px;
}
.conta p a{
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    display: inline-block;
    text-align: center;
    
    
}
.conta p{
    margin-left: 46px;
}
.conta a{
    margin-left: 0px;
}
#obtenha{
   margin-top: 10px;
    margin-left: 150px;
    text-align: center;
    
}
.app {
    display: inline-block;
    padding: 12px;
   margin-left: 46%;
   margin-top: 20px;
}
ul{
    font-size: 13px;
    padding: 2px;
    text-align: center;
}
li{
    display: inline-block;
    padding: 4px;
    text-align: center;
    text-decoration: none;
}
select{
    margin-left: 40%;
    border: none;
    padding: 3px;
    

}
footer p{
    text-align: center;
    margin-top: -22px;
    margin-bottom: 30px;
    padding: 3px;
    margin-left: 123px;
    color: #8E8E8E;
}

div.ro{
    width: 100%;
    display: inline-block;

}
